.employeeList {

  &__dataTable {
    max-width: 1200px;
    margin: auto;

    .data-table-extensions {

      &-filter {

        .filter-text {
          color: black;
        }
      }

      &-action {

        button::after {
          margin-top: -45px !important;
        }
      }
    }

    .rdt_Table {
      background-color: inherit;
      border: 2px solid darkred;

      &Col {
        padding: 5px;
      }

      &Col:not(:last-child){
        border-right: 2px solid darkred;
      }

      &Cell:not(:last-child) {
        border-right: 2px solid darkred;
      }

      &HeadRow {
        background-color: #515e13;
        border-bottom: 2px solid darkred;

        .fnljWB {
          font-weight: bold;
          font-size: 16px;
          color: floralwhite;
        }
      }

      &Row:not(:last-child) {
        border-bottom: 1px solid darkred;
      }

      &Row:nth-child(odd) {
        background-color: inherit;
      }
    }

    .rdt_Pagination {
      background-color: inherit;
      justify-content: space-between;

      .gXvWCN {
        font-size: 16px;
      }

      .hSdUFd {
        margin-right: auto;
      }

      .gXvWCN, .hSdUFd, .cBDvWX button {
        color: black;
        fill: black;
        font-weight: 600;
      }
    }
  }
}